<%= form_with(model: @topic_form, url: admins_backoffice_questions_path, method: :get) do |form |%>
  <div class="container">
    <% if @topic_form.errors.any? %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <ul>
          <% @topic_form.errors.full_messages.each do |msg|%>
            <li> <%= msg %> </li>
          <% end %>
        </ul>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>


    <div class="row">

      <div class="sm-3">
        <div class="form-group">
          <%= form.label "Descrição" %>
          <%= form.text_field :description, class: "form-control" %>
        </div>
      </div>

      <div class="sm-3">
        <div class="form-group ml-3">
          <%= form.label "Tópico" %>
          <%= form.collection_select :topic_id, Topic.all, :id, :name, { include_blank: true }, { class: "form-control" } %>
        </div>
      </div>

      <div class="sm-3">
        <div class="form-group ml-3">
          <%= form.label "Data inicial" %>
          <%= form.text_field :initial_date, class: "form-control" %>
        </div>
      </div>

      <div class="sm-3">
        <div class="form-group ml-3">
          <%= form.label "Data final" %>
          <%= form.text_field :final_date, class: "form-control" %>
        </div>
      </div>

    </div>
    <div class="row mb-3">
      <%= form.submit "Buscar", class: "btn btn-primary"%>
    </div>
  </div>
<% end %>