<h1>Perguntas</h1>
<div class="table-responsive">
  <%= form_with(url: admins_backoffice_questions_path, method: :get) do |form |%>
    <%= form.label "Tópico" %>
    <%= form.select(:topic_id, Topic.all.map{|x| [x.description, x.id]}, include_blank: "") %>
    <%= form.label "Data inicial" %>
    <%= form.text_field :initial_date, class: "form-control" %>
    <%= form.label "Data final" %>
    <%= form.text_field :final_date, class: "form-control" %>
    <%= form.submit "Buscar", class: "btn btn-primary"%>
  <% end %>
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th><%= translate_method(@questions, :description) %></th>
        <th><%= translate_method(@questions, :topic) %></th>
        <%# add question button %>
        <th>
          <%= link_to new_admins_backoffice_question_path, class:"btn btn-outline-success btn-circle" do %>
            <i class="fa fa-plus"></i>
          <% end %>
        </th>
      </tr>
    </thead>

    <tbody>
      <% @questions.each do |quest|%>
      <tr>
        <td><%= quest.id %></td>
        <td><%= quest.description.truncate(50) %></td>
        <td><%= quest.topic.description %></td>
        <td style="width: 150px">
          <%# edit button %>
          <%= link_to edit_admins_backoffice_question_path(quest), class:"btn btn-primary btn-circle" do %>
            <i class="fa fa-edit"></i>
          <% end %>
          <%# delete button %>
          <%= link_to admins_backoffice_question_path(quest), method: :delete, class:"btn btn-outline-danger btn-circle", data: { confirm: "Quer mesmo apagar essa pergunta?"} do %>
            <i class="fa fa-close"></i>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>

  </table>

  <div class="text-center">
    <%= paginate @questions %>
  </div>

</div>

